
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;   
}
.error {
    color : red;
    font-size: 17px;
}
::root {
    --nav-color : #131921;
    --color-3b4149 : #3b4149;
}
html {
  scroll-behavior: smooth;

}
a {
    text-decoration: none;
    display:inline-block;
}

.form-control:foucs {
   box-shadow :none;
   border-color: inherit;
}
.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.button {
  background-color : #232f3e;
  color:white;
  font-size:14px;
  padding: 13px 33px;
  border-radius:15px;
}
.button:hover {
  background-color : #febd69;
  color : #131921;
}
/* Header Part */

 .shipping,.shipping-hotline>* {
    font-size: 16px;
    color:red !important;
 }
 .hamburger {
  display: none;
 }
 .menu-links.active {
  right: 2%;
  transition : all 0.5s ease;
 }
 .header-top-strip {
    border : 1px solid var(--color-3b4149);
    background-color: #131921;
 }
 .header-upper{
    background-color: #131921;
 }
 .header-upper .input-group-text {
    background-color : #febd69;
 }
 .header-upper-links .link-text {
   font-size: 14px;
 }
 .header-lower {
   background-color : #232f2e;
 }
 .header-lower .menu .menu-links a{
   color:white;
   font-size: 14px;
   line-height:18px;
   font-weight: 400;
   letter-spacing : .3;
   text-transform: uppercase;
 }
 .dropdown .dropdown-menu {
   background-color : #131921;
   transform : translate3d(0px,57px,0px) !important;
 }
 .dropdown .dropdown-menu .dropdown-item{
  color: white;
 }
 .dropdown .dropdown-menu .dropdown-item:hover{
   color:#131921;
 }
/* Header Part End */
/* Footer Part Start */
 footer {
  background-color : #232f3e;
 }
 footer:not(:first-child) {
    border-top : 1px solid rgba(255,255,255,0.1)
 }
 footer .input-group-text {
  background-color: #232f2e;
  color:white;
  padding:8px;
  font-size: 14px;
 }
/* Footer Part End */

/*Home Page Start*/
.product-cat {
  width: 100%;
  height: 100%;
}
.main-banner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width : 576px) and (max-width: 1024px) {
  .wishlist-icon {
    top: 75%;
  }
 
}
@media (min-width: 726px) and (max-width: 1000px) {
  .main-banner-container {
    background-color: white !important;
   }
  
}
@media(min-width: 993px ) and (max-width: 1200px) {
  .main-banner-content h5 {
    width: 250px !important;
    font-size : 25px !important;
    letter-spacing: 2px !important;
  }
  .main-banner-content h4 {
    font-size: 14px !important;
  }
  .main-banner-content p {
    font-size: 14px !important;
    letter-spacing: 2px !important;
  }
}
@media(min-width: 993px) and (max-width: 1000px) {
  .small-banner-content h5 {
    font-size: 12px !important;
   }
   .small-banner-content h4 {
    font-size: 9px !important;
    margin-bottom: 0px !important;
  }
  .small-banner-content p {
    line-height: 10px !important;
    font-size: 9px !important;
  }
  
 }
@media (min-width: 1000px) and (max-width: 1200px) {
  .small-banner-content h4 {
    font-size: 10px !important;
    margin-bottom: 0px !important;
  }
  .small-banner-content h5  {
    margin-bottom: 0px !important;
    font-size: 16px !important;
  }
  .small-banner-content p {
  
    font-size: 10px !important;
  }
}
@media (min-width : 576px) and (max-width: 726px) {
   .small-banner-content h4 {
    font-size: 12px !important;
   }
   .small-banner-content h5 {
    
    font-size: 18px !important;
   }
   .small-banner-content p {
    font-size: 12px !important;
   }
   .top-header {
    flex-wrap: nowrap;
    flex-direction: row ;
    display: flex;
   }
   
}
@media (min-width:471px) and (max-width:500px) {
   .menu-links {
    top: 40% !important;
    background-color: red !important;
   }
   
}
@media (max-width: 576px) {
  .button {
    text-align: center;
    line-height: 2.5;
    margin: 0 !important;
    padding: 0 !important;
    width: 70px !important;
    height: 40px !important;
  }
  
  .main-banner {
  
    margin-bottom: 16px;
  }
  .main-banner-content h5 {
   
    margin-bottom: 2px !important;
    font-size: 20px !important;
  }
  .main-banner-content h4 { 
    margin-bottom: 2px !important;
    font-size: 12px !important;
  }
  .main-banner-content p {
    margin-bottom: 2px !important;
    font-size: 10px !important;
  }
  .home-wrapper-3 {
    display: none !important;
  }
  .action-bar {
    display: none !important;
  }
  .product-cat {
    display: none !important;
  }
}
@media (max-width:470px) {
  
  .nav-links {
    /* background-color: red !important; */
    font-size: 12px !important;
  }
  .fs {
    font-size: 12px !important;
  }
  .menu-links.active {
    top: 46% !important;
    left: 2% !important;
  }
  .menu-links {
    transition: all 0.6s ease-in ;
    top: 46% !important;
    left: -100% !important;
  }

  .dropdown {
    display:none;
  }
}
@media (max-width:285px) {
  .main-banner-content h5 {
    margin: 0px !important;
    font-size: 16px !important;
  }
  .main-banner-content h4 { 
    margin: 0px !important;
    font-size: 8px !important;
  }
  .main-banner-content p {
    margin: 0px !important;
    font-size: 8px !important;
  }
  
  .menu-links {
    top: 49% !important;
  }
  .button {
    font-size: 10px !important;
    margin-top: 0 !important;
    height: 20px !important;
    line-height: 2 !important;
  }
}
@media (max-width:390px) {
  .popular-products {
    display: flex;
    flex-direction: column;
  }
  .product-card-container {
    flex-grow: 1;
     width: 100% !important;
  }
}
@media (min-width:391px) and (max-width:576px) {
  
  .product-card-container {
    /* background-color: red !important; */
    width: 50% !important;
  }
  
  
  
  .category-item {
    flex-direction: column !important;
  }
  .categories {
    flex-direction: column !important;
  }
  .hamburger {
    display: block;
  }
  .small-banner {
    width: 100% !important;
  }
  .wishlist-icon {
    top: 81%;
  }
  .shipping,.shipping-hotline,.hotline {
    color: blue !important;
    font-size: 12px;
  }
  .nav-links > *{
    color: red !important;
    font-size: 12px !important;
  }
  .header-upper-links {
     justify-content : space-between !important;
  }
  .menu-links {
    z-index:  2;
    position:absolute;
    top:37%;
    right:-100%;
    width: 120px !important;
    padding: 10px;
    background-color: #ddd !important;
  }
  .main-menu {
    flex-direction:  column !important;
    align-items: start !important;
  }
  .main-menu > * {
    width: 100%;
    font-size: 14px;
    color: black !important;
  }
  .log-out {
    margin-top: 10px;
    font-size: 14px;
    /* border-top: 1px solid black !important; */
    text-align: start;
    color: black !important;
  }
  .log-out:hover {
    padding: 5px 5px;
    transition: all 0.3s ease;
    background-color: black !important;
    color: white !important;
  }
  .menu {
    justify-content : space-between !important;
  }
  .main-menu > *:hover,.main-menu.log-out:hover {
    padding: 5px;
    background-color: black;
    color: white !important;
    transition: all 0.3s ease-in;
  }

  /* .dropdown {
    display: none;
  } */
  /* .main-banner-content h4 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .main-banner-content h5 {
    font-size: 24px !important;
    line-height: 33px !important;
  }
  .main-banner-content p {
    font-size: 11px !important;
  }
  .button {
    padding: 6px 22px;
    font-size:12px;
  }
  .small-banner-content {
    top: 5%;
  }
  .small-banner-content h4 {
    line-height: 12px !important;
    font-size : 10px !important;
  }
  .small-banner-content h5 {
    font-size : 11px !important;
    line-height: 17px !important;
  }
  .small-banner-content p{
    font-size : 10px !important;
    line-height: 10px !important;
  } */
  /* .banner-img {
    height: 300px !important;
  } */
 }
 @keyframes loading {
  0% {
    background-position: 0 -200px ;
  }
  100% {
    background-position:0 calc(100% + 200px) ;
  }
 }
 .main-banner-container {
  background-color: #f5f5f7;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.btns .dot {
  cursor : pointer;
  border-radius: 50%;
  width: 16px;
  background-color: #ddd;
  height: 16px;
}
.btns .dot.active {
  background-color: #febd69;
}
.btns {
  display: flex;
  gap: 10px;
  align-items:center;
  justify-content: center;
  width: 100%;
  height: 40px;
  position: absolute;
  z-index:4;
  bottom:0;
  left: 0;
}
 .main-banner-container .main-banner {
  clip-path: circle(0% at 0 50%);
 }
 /* .main-banner-container .main-banner:first-child {
  clip-path: none;
 } */
 .main-banner-container .main-banner.active {
  clip-path : circle(150% at 0 50%);
  transition: 2s;
  transition-property : clip-path;
 }
 .image-container {
  background-color : #f5f5f5;
 }
/*  */
 .image-container.loading {
  background-image: linear-gradient(to bottom, #f1f1f1 0%, #ddd 50%, #f1f1f1 100%);
  animation: loading 1s ease-in-out infinite;
} 
 .main-banner-content {
   top:10%;
   left:6%;
 }

 .main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #bf4800;
  margin: 0 0 12px;
  letter-spacing : 0.3px;
  text-transform : uppercase;
 }
 .main-banner-content  h5{
  width: 280px;
  color: white !important;
  text-shadow: 4px 4px 6px black !important;
  font-size : 45px;
  line-height: 54px;
  letter-spacing : -2px;
  font-weight: 500;
  text-transform : none;
 }
 .main-banner-content p {
  font-size : 18px;
  line-height : 28px;
  letter-spacing : 0.4;
  text-shadow: 3px 3px 5px black;
  color :white;
 }
 .banner-img {
   width: 100%;
   display: block;
 }
 .small-banner {
  width: 49%;
  height: 90%;
 }
 .small-banner-content {
  top:25%;
  left:10%;
}
.small-banner-content h4{
 font-size: 14px;
 font-weight: 400;
 line-height: 24px;
 color: #bf4800;
 margin: 0 0 12px;
 letter-spacing : 0.3px;
 text-transform : uppercase;
}
.small-banner-content  h5{
 font-size : 22px;
 line-height: 34px;
 letter-spacing : -1px;
 font-weight: 500;
 text-transform : none;
}
.small-banner-content p {
 font-size : 14px;
 line-height : 22px;
 letter-spacing : 0.8;
 color :#131921;
}
/*Home Page End*/

/*HOME WRAPPER 2*/
.home-wrapper-2 {
  background-color : #f5f5f7;
}
.service-text {
  font-size: 12px;
}
/*HOME WRAPPER 2 END*/

/* Categories Section*/


.category-name {
  font-size: 14px;
  letter-spacing: -1px;
}
.category-items {
  font-size: 12px;
  letter-spacing: -1px;
}
.resize-img {
  width: 100px;
  object-fit: contain;
}
/* Categories Section Ends Here*/
/* marquee section*/
.brand-img {
  width: 100px;
  margin : 10px 25px;
}
/*marquee section ends*/
/*Blog Section Start*/
.blog-card {
  background-color : white;
  padding: 20px;
  border-radius : 10px;
}
.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content p.date{
  font-size: 14px;
  line-height:24px;
  text-transform : uppercase;
  letter-spacing : 0;
  color : #777777;
  padding :0 ;

}
.blog-content {
  padding: 15px;
}
.blog-content h5 {
  font-size: 18px;
  color : #131921;
}
.blog-content p.desc {
  font-size : 13px;
  line-height : 22px;
  color : #777777;
}
.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}
.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color : #1c1c1b;
}
.single-blog-card p {
  color : #777777;
  font-size: 14px;
}
.single-blog-card a {
  font-size: 15px;
  color : #777777;
  margin-bottom: 20px;
}
/*Blog Section End*/
/*Featured Section*/
.featured-wrapper {
  background-color: #f5f5f7;
}
.featured-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
}
.product-title {
  font-size: 18px;
  width: '30px';
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
}
/* .product-placeholder::before {
  content : '';
  position: absolute;
  top : 0;
  left: 0;
  right: 0;
  bottom : 0;
  z-index: -1;
  background: linear-gradient(to bottom,#f5f5f5 0%,#ddd 50%,#f5f5f5 100%);
} */
@keyframes placeholderAni {
  0% {
     opacity : 0;
  }
  100% {
     opacity : 1;
  }
}
.product-placeholder,.blog-placeholder,.special-placeholder  {
  animation : placeholderAni 1.2s ease infinite;
}
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow:hidden;
}
.product-card p.description {
  font-size: 13px;
  color : #777777;
}
.product-card:hover .action-bar {
  right : 14px;

}
.product-card .product-details h6 {
  color : #bf4800;
  font-size : 13px;
}
.product-card .product-details h5 {
  color : #1c1c1b;
  font-size: 15px;
}
.product-card .product-details p.price {
  font-size : 16px;
  color: #1c1c1b;
}
.action-bar {
  z-index: 5;
  bottom : 2%;
  right: -23px;
  transition: .3s;
}
.wishlist-icon {
  bottom: 20%;
  right : 10px;
  z-index: 5;
}
.product-card .product-img img {
  object-fit: cover;
  transition: opacity 1s ease-out;
}
.product-card .product-img {
  width: 100%;
  position: relative;
}
.product-card .product-img img {
  top:0;
  left:0;
  opacity: 1;
  transition: opacity 0.7s ease-out;
}
.product-card .product-img img:last-child {
  position: absolute;
  z-index: -1;
  opacity : 0;
}
.product-card:hover .product-img img:nth-child(1) {
  opacity: 0;
  z-index : -1;
}
.product-card:hover .product-img img:last-child {
  opacity:  1;
  z-index : 2;
}
/*Featured Section End*/
/*Special Product Section*/
.special-product-card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}
/*Special Product Section Ends*/

/*Famous starts*/
.famous-card .famous-content{
  top: 20%;
  left:10%;
}
.popular-wrapper {
  background-color: #f5f5f7;
}
/*Famous Ends*/

/*Our Store */
.sm-screen-filter {
  top: 0%;
  left: -100%;
  transition:all 0.5s ease-in;
}
.sm-screen-filter.active {
  left: 2%;
}
.tag {
  color:#febd69;
  background-color : #f5f5f7;
  padding : 5px 10px;
  border-radius: 10px;
  margin: 10px 5px;
}
.filter-card {
  background-color: white;
  border-radius : 10px;
  padding:  15px 15px 25px;
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 20px;
}
.filter-card ul,
.filter-card .form-check-label  {
  list-style-type : none;
  font-size: 13px;
  line-height: 30px;
  color: #777777;
  cursor:pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color :rgba(0,0,0,0.25);
}
.filter-card .form-check-input:checked {
  background-color : #febd69;
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 15px;
}
.colors {
  list-style-type :none;
  display: flex;
  flex-wrap : wrap;
  gap : 10px;
}
.colors li.color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.colors .color.active {
  border : 3px solid black;
}
.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
}
.random-products:first-child {
  border-bottom : 1px solid #ededed;
}
.filter-sort-grid {
   background-color: #fff;
   border-radius: 10px;
   padding : 10px;
}
.grid img {
  cursor:pointer;
  width : 29px;
  height: 29px;
  background-color: #f2f7f7;
  padding:8px;
  border-radius: 3px;
}
.products-list{
  padding: 10px;
  background-color: #f5f5f7;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
}
@media (max-width:1300px) {
  .grid-container {
    grid-template-columns : repeat(3,1fr);
  }
}
 /* .gr-3 {
  width : 23.8%;
}
.gr-6{
  width : 48.8%;
}
.gr-4 {
  width : 32.1%;
}
.gr-12 {
  width : 100%;
}
.gr-12 .product-card {
  display: flex;
  gap : 10px;
  align-items: center;
}
.gr-12 .product-card .product-img {
  width : 49%;
}  */

/* @media (max-width : 768px) {
  .gr-3 {
    width: 23%;
  }
  .gr-4{
    width: 29%;
  }
  .gr-6 {
    width: 20%;
  }
} */
/* Our Store Ends */
 /* Contact Page Starts */
 .contact-inner-wrapper {
  padding :30px  20px;
  border-radius : 15px;
  background-color:white;
 }
 .contact-inner-wrapper  > div {
  width : 48%;
 }
 .contact-inner-wrapper form .form-control {
   background-color : #f5f5f7;
   border-radius: 10px;
   margin-top: 10px;
   border-color: transparent;
   padding: 10px;
 }
 .contact-title {
  font-size : 26px;
  font-weight : 500;
  line-height : 35px;
  text-align : left ;
 }
 .contact-inner-wrapper address,
 .contact-inner-wrapper a,
 .contact-inner-wrapper p {
  color : #777777;
 }
 /* Contact Page Ends */
 /* Compare Product Page */
 .compare-product-card {
  padding : 20px 15px;
  background-color : white;
  border-radius: 10px;
 }
 .compare-product-card .cross,.wish-list-card .cross {
  top: 10px;
  right: 10px;
  width : 20px;
  padding: 3px;
  background-color : white;
  cursor: pointer;
 }
 .compare-product-details  h5.title ,.wish-list-card h5.title{
  font-size : 15px;
  line-height : 22px;
  font-weight : 500;
  color : #1c1c1b;
 }
 .compare-product-details h6.price,.wish-list-card h6.price{
  font-size : 15px;
  line-height: 22px;
  font-weight: 500;
 }
 .compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0,0,0,0.1);
 }
 /* Compare Product Page Ends */

 /* Auth Card */
.auth-card {
  padding : 20px;
  background-color : white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card p {
  font-size: 13px;
  color : #777777;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color : #777777;
}
.auth-card .form-control {
  height: 50px;
  background-color: #f5f5f7;
  font-size: 14px;
  color : #131921;
  border-radius: 10px;
  border-color : transparent;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color : #1c1c1b;
}
.signup {
  background-color:#febd69;
  color : #131921;
}
 .signup:hover {
  background-color:#131921;
  color : #febd69;
}
 /* Auth Card Ends */

 /* Privacy & Policy,Terms & Conditions,Refund Policy,Shipping Policy Section */
 .policy,.terms{
  background-color : white;
  padding: 30px;
 }
 /* rivacy & Policy,Terms & Conditions,Refund Policy,Shipping Policy Sections Ends */

 /* Single Product Page */
 @media (max-width: 768px) {
   .product-container {
    display : flex;
    flex-direction : column-reverse;
    align-items : flex-start;

   }
   .other-product-images {
    flex-direction: row-reverse !important;
   }
 }
 .size.active {
  border: 1px solid blue !important;
 }
 .other-img.active {
  border: 1px solid blue;
 }
 .img-wrapper {
  position : relative;
 }
 .img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d3d4;
  width: 40px;
  height: 40px;
 }
 .img-zoom-result {
  background-color: #f5f5f5;
 }
 .main-product-image  > div {
  border: 1px solid rgba(0,0,0,0.25)
 }
 .main-product-details {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
 }

 .border-bottom {
  border-bottom : 1px solid rgba(0,0,0,0.25);
 }
 .main-product-details h3.title {
  font-size: 18px;
  font-weight: 600;
  color: #1c1c1b;
  margin-bottom: 10px;
 }
 .main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 10px;
 }
 .main-product-details a.review-btn,.t-review {
  color : #777777;
  font-size: 13px;
 }
 .product-heading  {
  font-size: 14px;
  color : #1c1c1b;
  margin-bottom: 0px;
 }
 .product-data {
  font-size: 13px;
  columns : #777777;
  margin-bottom : 0px;

 }
 .main-product-details a {
  font-size: 14px;
  color : #777777;
 }
 /* .other-product-images>div {
    height:'200px';
    padding: 20px;
    width: 48%;
 } */
 .other-product-images {
    background-color: white;
    padding: 20px;
 
 }
.description-wrapper  h3,.review-wrapper h3{
  font-size: 26px;
  color: #1c1c1b;
  margin-bottom: 10px;
}
.description-wrapper p {
  font-size: 14px;
  color: #777777;
}
.review-inner-wrapper {
  background-color : white;
  padding: 30px;
}
 .review-head {
  border-bottom : 1px solid rgba(0,0,0,0.1);
  padding-bottom: 20px;
 }
 .review-head h4 {
  font-size: 18px;
  color : #1c1c1b;
 }
 .review-head p,.review-head a {
  font-size: 14px;
  color : #777777;
 }
 .review-form h4 {
  font-size: 16px;
  color : #777777;
 }
 .review-form {
  border-bottom : 1px solid rgba(0,0,0,0.1);

 }
 .review:not(:last-child) {
  border-bottom : 1px solid rgba(0,0,0,0.1);
 }
 .review h4 {
  font-size: 17px;
  font-weight: 600;
 }
 .review p {
  font-size: 14px;
  color : #777777;
 }
 /* Single Product Page Ends */

 /* Cart Page */
 .cart-header,.cart-data {
  border-bottom : 1px solid #eaeaea;
 }
 .cart-header h4{
  font-size : 13px;
  color : #777777;
 }
 .cart-col-1 {
  width: 40%;
 }
 .cart-col-1 p {
  color : #777777;
  font-size: 14px;
 }
 .cart-col-2 {
  width: 10%;
 }
 .cart-col-3 {
  width: 15%;
 }
 .cart-col-4{
  width: 15%;
 }
 .cart-data h5.price {
  font-size: 14px;
  color : #1c1c1b;
 }
 /* Cart Page Ends */

 /* Shipping Page  */
 .total {
  font-size: 14px;
  color : #1c1c1b;
 }
 .total-price,.title,.type {
  font-size: 16px;
  color : #777777;
 }
 /* Shipping Page Ends */